
{% extends "index.html" %}



{% block content %}

<h1>Login with Existing Account</h1>
      <form >
       <table>
       
        <tr>       
         <td >Email :</td> <td><input type="text" name="email"></td><br>
        </tr>
        <tr>       
          <td >Subject :</td> <td><input type="text" name="subject"></td><br>
        </tr>
        <tr>       
          <td >Message :</td> <td><input type="textarea" name="messages"></td><br>
        </tr> 

        <tr>    
         <td colspan="2" ><input type="submit" value="Submit"></td>       
            
          </tr>
       </table>
      </form>
     

{% endblock content %}
