{% extends "index.html" %}



{% block content %}
<div class="alignmentbody">
   {{user.last_name}}
   <h5 style="margin:auto"> <b>WelCome to DashBoard </b></h5><br> <br>
      <button class = "button1" onclick="window.location.href = 'creategroup';">Create Group</button>
      <button class = "button1" onclick="window.location.href = 'editprofile';">Edit Profile</button>
      <button class = "button1" onclick="window.location.href = 'contact';">Go to Bank</button>
      <br><br>
      <button class = "button1" onclick="window.location.href = 'invitegroup';">Invite group</button>
      <button class = "button1" onclick="window.location.href = 'contact';">Payout Order</button>
      <button class = "button1" onclick="window.location.href = 'contact';">Credit Score</button>
      <br>
      <br>
      <button class = "button1" onclick="window.location.href = 'contact';">Group Activity</button>
  
 



{% endblock content %}