{% extends "index.html" %}



{% block content %}
<div class="alignmentbody">

   <h5 style="margin-left:249px"> <b>WelCome to DashBoard </b></h5><br> <br>
      <button class = "button1" onclick="window.location.href = 'creategroup';">Create Group</button>
      <button class = "button1" onclick="window.location.href = 'editprofile';">Edit Profile</button>
      <button class = "button1" onclick="window.location.href = 'newcardregistor';">Go to Bank</button>
      <br><br>
      <button class = "button1" onclick="window.location.href = 'invitegroup';">Invite group</button>
      <button class = "button1" onclick="window.location.href = 'payoutorder';">Payout Order</button>
      <button class = "button1" >Credit Score</button>
      <br>
      <br>
      <button class = "button1" >Group Activity</button>
      <button class = "button1" onclick="window.location.href = 'following';">My Following Group</button>
      <button class = "button1" onclick="window.location.href = 'follower';">My Follower Groups</button>
      <br>
      <br>
      <button class = "button1" onclick="window.location.href = 'myinvitation';">My Invitation</button>

 



{% endblock content %}