{% load static  %}
<!DOCTYPE html>
<html>
<title>HagBad Financial</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'styles/styles.css'%}">

 <script src="{% static 'js/app.js' %}"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all">
<body>


<div class="topnav">
   <a href="{{BASE_URL}}home"><img src ="{% static 'images/logo.jpg'%}" alt="HagBad"height="42" width="110" ></a>
   <a href="{{BASE_URL}}home">Home</a>
      <a href="{{BASE_URL}}about">About</a>
      <a href="{{BASE_URL}}contact">Contact</a> 
      {% if user.is_authenticated %}       
        <a href="{{BASE_URL}}logout">Logout</a> 
         <a href="{{BASE_URL}}groups">User Dashboard</a> 
         <a > hello <b>{{user.first_name}}</b></a>
      {% else %}  
      <a href="{{BASE_URL}}register">Login/Signup</a>
      {% endif %}
      <a href="{{BASE_URL}}home">Search</a>
</div>      


{% block content %}

{% endblock content %}

<script>
    $(document).ready(function(){
        $("#datepick").datepicker({
        dateFormat: 'yy-mm-dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        maxDate:'-10Y',
        });

        $("#datestart").datepicker({
        dateFormat: 'yy-mm-dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        minDate:'+2D',
        });
     

    });
</script>



</body>
</html>
