{% extends "index.html" %}



{% block content %}
<div class="alignmentbody">
    {% if module == 'creategroup'%}
         <h1>Create Group:</h1>
      <form class ="login" action ="creategroup" method ="POST">
            {% csrf_token %}
       <table>
       
        <tr>       
         <td >Group Name :</td> <td><input type="text" name="GroupName"></td><br>
        </tr>
        <tr>       
          <td >Payments :</td> <td><input type="number" name="payments"></td><br>
        </tr>
        <tr>       
          <td >Pay frequency :</td> <td><select name="payfrequency">
          <option value="M" selected >Monthly</option>
          <option value="W">Weekly</option>
         
        </select></td><br>
        </tr> 
         <tr>       
          <td >Start Date :</td> <td><input type="date" name="startdate"></td><br>
        </tr> 
         <tr>       
          <td >No of Period :</td> <td><input type="number" name="noofperiod"></td><br>
        </tr> 

        <tr>    
         <td colspan="2" ><input type="submit" value="Submit"></td>            
          </tr>
       </table>
      </form>
    {% elif module == 'editprofile' %}
        <h1>Edit Profile:</h1>
      <form class ="login" action ="creategroup" method ="POST">
            {% csrf_token %}
       <table>
       <tr>    
         <td colspan="2" ><img scr=""></td>            
          </tr>
          <tr>    
         <td colspan="2" ><input type="file" value="profilepic"></td>            
          </tr>
          <tr>    
         <td colspan="2" ><input type="text" value="setting"></td>            
          </tr>
        <tr>    
         <td colspan="2" ><input type="submit" value="Submit"></td>            
          </tr>
       </table>
      </form>

    {% elif module == 'invitegroup' %}
       {% if message %}<h5 style="margin-left: 314px;">{{ message }}</h5>{% endif %}
      <h1>Invite Group:</h1>

      <form action ="invitegroup" method ="POST" class ="login">
            {% csrf_token %}
       <table>
        <tr>   
          <td >Group Name:</td> <td>
            <select name="groupname">
              <option value="" Selected>Select</option>
               {% for group in groups%}
              <option value={{group.ID}}>{{group.groupName}}</option>
              {% endfor %}
              </select></td><br>
        </tr> 
        <tr>       
          <td >Invite Email:</td> <td><input type="email" name="invitemail" required></td><br>
        </tr> 
        <tr>    
         <td colspan="2" ><input type="submit" value="Submit" ></td>            
          </tr>
       </table>
      </form>

    {% elif module == 'following' %}
      <h1>  My Group Following test</h1>
      
      <table>
        <tr> 
         <th> SN.</th>  
          <th> GroupName</th>
          <th>Payments </th>
          <th> Payfrequency</th>          
          <th> Start Date </th>
          <th> No of period</th>
          </tr> 
      {% for group in groups%}
        <tr>
          <td> {{forloop.counter}}</td>
          <td>  {{group.groupName}} </td>
          <td>{{group.payments}} </td>
          <td>  {% if group.paymentsFrequency == 'M'%} Monthly 
          {% else %} Weekly{% endif %}</td>
          <td>{{group.startDate}} </td>
          <td> {{group.noofperiod}}</td>
        </tr>
      {% endfor %}
      

    {% elif module == 'follower' %}
      <h1> My Follower Group </h1>

    {% elif module == 'payoutorder' %}
      <h1> PayOut Order </h1>

     {% elif module == 'myinvitation' %}
     <h1>  My Invitation</h1>
      
      <table>
        <tr> 
          <th> SN.</th>  
          <th> GroupName</th>
          <th colspan="2"> Accept</th>         
          </tr> 
      {% for invitation in invitations%}
        <tr>
          <td> {{forloop.counter}}</td>
          <td> {{invitation.groupID}} </td>
          <td> <a href= "{{BASE_URL}}myinvitation/1/{{invitation.groupID}}/">Accept</a>
          </td><td><a href= "{{BASE_URL}}myinvitation/2/{{invitation.groupID}}/">Reject</a> </td>          
        </tr>
      {% endfor %}
      


    {% endif %} 
  
 



{% endblock content %}